
<nav class="navbar navbar-expand-lg "style="background-color: rgb(149, 199, 240);" >
    <div class="container" >
        <h4>local shop antara babu</h4>
        <label for="">Search</label>
        <input type="text" #Search   [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Cloths</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#!">electronics</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li> -->
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit" (click)="navigate()">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    <!-- <app-cart></app-cart> -->
                </button>
                
                
            </form>
            <ng-container class="Account">
                <!-- <h4 class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</h4>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Name</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="route()">Delivery Address</a></li>
                    <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                </ul> -->


                <div class="dropdown" style="margin-left: 12px;" >
                
               
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>

                  
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li class="dropdown-item">Name</li>
                      <li><a class="dropdown-item" href="#"></a></li>
                      <li><a class="dropdown-item" (click)="route()">Add Address</a></li>
                    </ul>
                  </div>
                
            </ng-container>
            <p><img *ngIf="photo" [src]="photo">photo</p>
                

         
            
        </div>
    </div>
</nav>
<header class="bg-dark py-1 mt-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">All type of Brand</p>
        </div>
    </div>
</header>

