<!-- <p>view-all-products works!</p> -->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <ng-container class="col mb-5" *ngFor="let prod of productsData | filter:searchkey:'name'">
                <div class="card h-200 mt-5">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{prod.image}}">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a class="fw-bolder" routerLink="viewallproducts/{{prod.id}}">{{prod.name}}</a>
                            <!-- Product price-->
                          <h5>  $40.00 - $80.00</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div  class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="viewallproducts/{{prod.id}}">View options</a></div> -->
                        <div  class="text-center"><button class="btn btn-outline-dark mt-2" (click)="getDataCart(prod.id)">Add to Cart</button></div>
    
                    </div>
                </div>
            </ng-container>
            
        </div>
    </div>
</section>