<p>view-product-category works!</p>
<!-- <p>view-all-products works!</p> -->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- <p>{{getCategory | json}}</p> -->
             <div class="col mb-5" *ngFor="let addCatg of productList">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{addCatg.image}}" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder" routerLink="addCartg{{addCatg.id}}">{{addCatg.name}}</h5>
                            <!-- Product name-->
                            <h5 class="fw-bolder"></h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
        
                    </div>                
                </div>    
            </div> 
        </div>
    </div>           
</section>              